<div *ngIf="pokemon != null" class="row mt-4 text-center align-items-center pb-5">
    <div class="col-3"></div>
    <div class="col-6 text-center">
        <div class="row">
            <div class="col-lg-2">
                <h2 class="">4x</h2>
                <div class="vstack gap-3">
                    <span *ngFor="let type of pokemon.defensiveDamageMultipliers.four" class="type {{type}}"></span>
                    <span class="display-6 fs-4"
                        *ngIf="pokemon.defensiveDamageMultipliers.four.length === 0 && pokemon !== null">None</span>
                </div>
            </div>
            <div class="col-lg-2">
                <h2 class="">2x</h2>
                <div class="vstack gap-3">
                    <span *ngFor="let type of pokemon.defensiveDamageMultipliers.two" class="type {{type}}"></span>
                    <span class="diplay-6 fs-4"
                        *ngIf="pokemon.defensiveDamageMultipliers.two.length === 0 && pokemon !== null">None</span>
                </div>
            </div>
            <div class="col-lg-2 mx-auto">
                <h2>1x</h2>
                <div class="vstack gap-3">
                    <span *ngFor="let type of pokemon.defensiveDamageMultipliers.one" class="type {{type}}"></span>
                    <span class="display-6 fs-4"
                        *ngIf="pokemon.defensiveDamageMultipliers.one.length === 0 && pokemon !== null">None</span>
                </div>
            </div>
            <div class="col-lg-2 mx-auto">
                <h2 class="">½x</h2>
                <div class="vstack gap-3">
                    <span *ngFor="let type of pokemon.defensiveDamageMultipliers.half" class="type {{type}}"></span>
                    <span class="display-6 fs-4"
                        *ngIf="pokemon.defensiveDamageMultipliers.half.length === 0 && pokemon !== null">None</span>
                </div>
            </div>
            <div class="col-lg-2 mx-auto">
                <h2 class="">¼x</h2>
                <div class="vstack gap-3">
                    <span *ngFor="let type of pokemon.defensiveDamageMultipliers.quarter" class="type {{type}}"></span>
                    <span class="display-6 fs-4"
                        *ngIf="pokemon.defensiveDamageMultipliers.quarter.length === 0 && pokemon !== null">None</span>
                </div>
            </div>
            <div class="col-lg-2 mx-auto">
                <h2>0x</h2>
                <div class="vstack gap-3">
                    <span *ngFor="let type of pokemon.defensiveDamageMultipliers.zero" class="type {{type}}"></span>
                    <span class="display-6 fs-4"
                        *ngIf="pokemon.defensiveDamageMultipliers.zero.length === 0 && pokemon !== null">None</span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-3"></div>
</div>