<div class="row col-4 mx-auto container-fluid">
    <pbc-generation-picker *ngIf="allGenerations"
        (generationSelected)="generationSelected($event)"></pbc-generation-picker>
    <div *ngIf="isLoading">
        <div class="spinner-grow text-danger" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
</div>
<div class="container-fluid col-4 mb-5">
    <div *ngIf="types && damageMultipliers && isLoading === false" class="row">
        <table class="type-grid mt-3">
            <tr>
                <td>
                    <div class="text-black">def →</div>
                    <div class="text-black">att ↓</div>
                </td>
                <td *ngFor="let type of types; let c = index" #typeCell class="type-cell color-{{type}} text-white"
                    [attr.col]="c" (mouseenter)="onCellMouseEnter(-1, c)" (mouseleave)="onCellMouseLeave(-1, c)"
                    (click)="freezeColumn(c)">
                    {{type.substring(0, 3)}}
                </td>
            </tr>
            <tr *ngFor="let dm of damageMultipliers; let r = index">
                <td #typeCell class="type-cell color-{{dm.types[0]}} text-white" [attr.row]="r"
                    (mouseenter)="onCellMouseEnter(r, -1)" (mouseleave)="onCellMouseLeave(r, -1)"
                    (click)="freezeRow(r)">
                    {{dm.types[0].substring(0, 3)}}
                </td>
                <td *ngFor="let type of types; let c = index" [attr.row]="r" [attr.col]="c" #typeCell
                    class="text-center fs-6 text-white type-cell" (click)="freezeColumnRow(r, c)"
                    (mouseenter)="onCellMouseEnter(r, c)" (mouseleave)="onCellMouseLeave(r, c)" [ngClass]="{
                    'bg-success': getDamageText(types[r], types[c]) === '2',
                    'bg-danger': getDamageText(types[r], types[c]) === '½',
                    'bg-secondary': getDamageText(types[r], types[c]) === '0'}">
                    <div>{{getDamageText(types[r], types[c])}}</div>
                </td>
            </tr>
        </table>
    </div>
</div>