<div class="row text-center align-items-center">
    <div class="col-sm-2 mx-auto" style="min-width: 300px">
        <div class="vstack gap-4">
            <img class="img-fluid" style="width:500px" src="/assets/images/pokemon-logo.png">
            <span class="display-5">
                Battle Companion
            </span>
            <form [formGroup]="pokemonForm" class="w-100">
                <div class="form-floating">
                    <input formControlName="pokemonName" id="pokemonName" type="text" class="form-control"
                        placeholder="abc" [ngbTypeahead]="searchPokemonNames" />
                    <label for="pokemonName">Pokémon name</label>
                </div>
            </form>
            <button type="submit" (click)="getTypeMatchups()" class="btn btn-danger">
                <div class="row gx-0">
                    <div class="col-12 text-center">
                        Go
                        <i class="bi bi-chevron-compact-right float-end"></i>
                    </div>
                </div>
            </button>
            <div>
                <span *ngIf="pokemon != null">
                    <div class="row col-8 offset-2">
                        <img src="{{pokemon.sprites.other['official-artwork'].front_default}}" />
                    </div>
                    <div>
                        <div class="row">
                            <div class="col-6 offset-3">
                                <div class="row">
                                    <div *ngFor="let type of pokemon.types" [ngClass]="{
                                        'col-12': pokemon.types.length === 1,
                                        'col-6 ps-0 pe-0': pokemon.types.length === 2}">
                                        <span class="type {{type.type.name}}"></span>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </span>
            </div>
        </div>
    </div>
</div>

<div class="row col-6 offset-3 text-center mt-5">
    <span class="display-6">Defensive Damage Multipliers</span>
</div>
<div class="row mt-5 text-center align-items-center pb-5">
    <div class="col-3"></div>
    <div class="col-6 text-center">
        <div class="row">
            <div class="col-lg-2">
                <h1 class="">4x</h1>
                <div class="vstack gap-3">
                    <span *ngFor="let type of defensiveMultipliers.four" class="type {{type}}"></span>
                    <h3 *ngIf="defensiveMultipliers.four.length === 0 && pokemon !== null">None</h3>
                </div>
            </div>
            <div class="col-lg-2">
                <h1 class="">2x</h1>
                <div class="vstack gap-3">
                    <span *ngFor="let type of defensiveMultipliers.two" class="type {{type}}"></span>
                    <h3 *ngIf="defensiveMultipliers.two.length === 0 && pokemon !== null">None</h3>
                </div>
            </div>
            <div class="col-lg-2 mx-auto">
                <h1>1x</h1>
                <div class="vstack gap-3">
                    <span *ngFor="let type of defensiveMultipliers.one" class="type {{type}}"></span>
                    <h3 *ngIf="defensiveMultipliers.one.length === 0 && pokemon !== null">None</h3>
                </div>
            </div>
            <div class="col-lg-2 mx-auto">
                <h1 class="">½x</h1>
                <div class="vstack gap-3">
                    <span *ngFor="let type of defensiveMultipliers.half" class="type {{type}}"></span>
                    <h3 *ngIf="defensiveMultipliers.half.length === 0 && pokemon !== null">None</h3>
                </div>
            </div>
            <div class="col-lg-2 mx-auto">
                <h1 class="">¼x</h1>
                <div class="vstack gap-3">
                    <span *ngFor="let type of defensiveMultipliers.quarter" class="type {{type}}"></span>
                    <h3 *ngIf="defensiveMultipliers.quarter.length === 0 && pokemon !== null">None</h3>
                </div>
            </div>
            <div class="col-lg-2 mx-auto">
                <h1>0x</h1>
                <div class="vstack gap-3">
                    <span *ngFor="let type of defensiveMultipliers.zero" class="type {{type}}"></span>
                    <h3 *ngIf="defensiveMultipliers.zero.length === 0 && pokemon !== null">None</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="col-3"></div>
</div>