<div class="row text-center align-items-center">
    <div class="col-sm-2 mx-auto" style="min-width: 300px">
        <div class="vstack gap-4">
            <img class="img-fluid" style="width:500px" src="/assets/images/pokemon-logo.png">
            <span class="display-6">
                Battle Companion
            </span>
            <form [formGroup]="pokemonForm" class="w-100">
                <div class="form-floating">
                    <input formControlName="pokemonName" id="pokemonName" type="text" class="form-control"
                        placeholder="abc" [ngbTypeahead]="searchPokemonNames" (keydown.enter)="getPokemonDetails()" />
                    <label for="pokemonName">Pokémon name</label>
                </div>
                <div *ngFor="let generation of allGenerations" class="form-check form-check-inline">
                    <input formControlName="generation" class="form-check-input" type="radio"
                        id="gen{{generation.number}}Checkbox;" [value]="generation.number" tabindex="-1">
                    <label class="form-check-label" for="gen{{generation.number}}Checkbox">{{generation.numeral |
                        uppercase}}</label>
                </div>
                <div class="text-danger"
                    *ngIf="pokemonForm.controls['generation'].invalid && pokemonForm.controls['generation'].touched">
                    Please select a generation
                </div>
            </form>
            <button type="submit" (click)="getPokemonDetails()" class="btn btn-danger col-6 mx-auto">
                Go
            </button>
            <div>
                <div *ngIf="!isLoading; else loadingSpinner">
                    <div *ngIf="pokemon != null" class="row col-8 offset-2">
                        <h4>{{pokemon.displayName}}</h4>
                        <img src="{{pokemon.sprite}}" />
                    </div>
                    <div>
                        <div *ngIf="pokemon != null" class="row">
                            <div class="col-6 offset-3">
                                <div class="row">
                                    <div *ngFor="let typeName of pokemon.typeNames" [ngClass]="{
                                        'col-12': pokemon.typeNames.length === 1,
                                        'col-6 ps-0 pe-0': pokemon.typeNames.length === 2}">
                                        <span class="type {{typeName}}"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <p class="text-danger" *ngIf="message && !isLoading">{{message}}</p>
                </div>
                <ng-template #loadingSpinner>
                    <div class="spinner-grow text-danger" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                </ng-template>
            </div>
        </div>
    </div>
</div>

<div *ngIf="pokemon != null" class="row col-12 text-center mt-5">
    <span class="display-6 fs-3">Defensive Damage Multipliers for Gen
        {{displayingMultipliersForGeneration}}</span>
    <pbc-damage-multipliers [pokemon]="pokemon"></pbc-damage-multipliers>
</div>